@font-face {
    font-family: 'dense';
    src: url(./fonts/Dense-Regular.otf);
}

body {
    font-family: 'dense';
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
#weatherBox {
    color: whitesmoke;
    display: inline-block;
    position: absolute;
    height: 60px;
    font-size: 25px;
    opacity: 0.9;
    width: 10%;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px 3px black;
    padding-top: 10px;
    padding-right: 50px;
    float: right;
}

#textContainer {
    font-family: "dense";
    position: fixed;
    top: 45%;
    width:100%;
}

#middleText {
    text-align: center;
    color:floralwhite;
    font-size:5em;
    font-weight:500;
    text-shadow: 4px 4px black;
}

#location{
    display: inline-block;
}

#foodButton {
    text-align: center;
    display: block;
    margin: auto;
    height: 45px;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
}

#mainPage {
    height:100vh;
    max-width:100vw;
    background-color: rgba(0,0,0,0.5) !important;
}

#yelpInfo {
    text-align: center;
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: baseline;
    background-color: darkred;
    border-radius: 10px;
    color: white;
    opacity: 0.9;
    padding: 0;
    margin: 15px;
}

#businessName {
    font-size: 3rem;
    width: 100%;
}

#price {
    font-size: 4rem;
    line-height: 40px;
    transform: translateY(10px);

}
#businessPhone {
    width: 100%;
    font-size: 2rem;
}
#businessAddress {
    width:100%;
    font-size: 3rem;
}
#goToYelp {
    color: white;
    width: 35%;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
}

#yelpPicture {
    height: 32.1vh;
    border-radius: 10px;
    opacity: 0.9;
    overflow: hidden;
    padding: 0;
    margin: 15px;
}
#googleMaps {
    height: 45%;
    width: 80%;
    margin-left: 10%;
    transform: translateY(20%);
    border-radius:5px;
    opacity:0.92;
}
/*Helper Class*/
.hideOverflow {
    overflow-y: hidden;
}
#firstPage {
    align-items: center;
    height: 100%;
    justify-content: center;
    display: flex;
    position: absolute;
    left: 50%;
}

#food {
    background-size: contain;
    height: 100%;
    width: 100%;
}

.clock {
    font-size: 7em;
    text-align: center;
    text-shadow: 4px 4px black;
    color: #fff;
    display: inline-block;
    position: fixed;
    top: 27%;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
}

#starRating {
    width: 60%
}

@media only screen and (max-width: 650px) {
    #goToYelp {
        font-size: 1.5rem;
        width: 40%;
    }
    
}

@media only screen and (max-width: 420px) {
    .row {
        all: unset;
    }
    #yelpInfo, #yelpPicture {
        margin: 0;
        height: 30%;
        border-radius: 0px;
    }
    #googleMaps {
        transform: translateY(0%);
        margin-left: 0;
        border-radius: 0;
        height: 40%;
        width: 100%
    }
    #weatherIcon {
        margin-left: 13px;
    }
}

/* @media only screen and (max-width: 650px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .clock {
        font-size: 3em;
        text-align: center;
        text-shadow: 4px 4px black;
        color: #fff;
        left: 0%;
    }

    #middleText {
        text-align: center;
        color: floralwhite;
        font-size: 40px;
        text-shadow: 4px 4px black;
        font-weight: 500;
    }

    #foodButton {
        text-align: center;
        font-size: 1.3em;
        display: block;
        margin: 3% auto;
        height: 40px;
    }

    #textContainer {
        font-family: 'dense', sans-serif;
    }

    #mainPage {
        height: 100vh;
        max-width: 100vw;
    }

    #yelpInfo {
        all: unset;
        color: white;
        opacity: 0.9;
        font-size: 28px;
    }

    #goToYelp {
        margin-left: 30%;
        margin-bottom: 1%;
        color: #fff;
    }

    #yelpInfo > div {
        padding-left: 1%;
        background-color: darkred;
    }
    #price {
        transform: translateY(0);
        line-height: 30px;
        font-size: 30px;
        width: 100%;
    }
    #businessName {
        font-size: 30px;
    }

    #businessPhone {
        width: 100%;
        font-size: 18px;
    }

    #businessAddress {
        width: 100%;
        font-size: 25px;
    }

    #yelpPicture {
        all: unset;
        padding: 0;
        opacity: 0.9;
    }

    #googleMaps {
        height: 37%;
        width: 100%;
        margin: 0;
        transform: translateY(-2%);
        border-radius: 5px;
        opacity: 0.92;
    }

    #firstPage {
        align-items: center;
        height: 100%;
        justify-content: center;
        display: flex;
        position: absolute;
        left: 50%;
    }

    #food {
        all: unset;
        background-size: contain;
        width: 75%;
        height: 25%;
        margin-left: 12%;
        margin-bottom: 1%;
        box-sizing: border-box;
        border: 6px solid white;
    }

    #location {
        display: inline-block;
    }

    #weatherBox {
        all: unset;
        color: whitesmoke;
        font-size: 25px;
        opacity: 0.9;
        text-align: center;
        text-shadow: 2px 2px black;
        vertical-align: middle;
        padding-top: 10px;
        padding-right: 1px;
        margin-right: 48px;
        float: right;
    }
    .clock {
        transform: translateY(80px);
    }
   
} */



