@font-face {
    font-family: 'dense';
    src: url(./fonts/Dense-Regular.otf);
}

body {
    font-family: 'dense';
    background-size: cover !important;
    background-position: center !important;
}

#businessAddress {
    width: 100%;
    font-size: 3rem;
}

.businessContainer {
    color: whitesmoke;
    width: 15%;
}

#businessName {
    font-size: 3rem;
    width: 100%;
}

#businessPhone {
    width: 100%;
    font-size: 2rem;
}

.buttonContainer {
    width: 60%;
    margin: 0 auto;
    color: whitesmoke;
}

.carousel {
    width: 70%;
    margin: 45px 0px 20px 0;
}


/* Had to override width of dots from bootstrap */

.carouselDots {
    width: 15px !important;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    margin: auto;
}

.carouselPic {
    width: 500px;
    height: 345px !important;
}

.clock {
    font-size: 7em;
    text-align: center;
    text-shadow: 4px 4px black;
    color: #fff;
    display: inline-block;
    position: fixed;
    top: 20%;
    width: 100%;
}

.cityName {
    margin-left: 10px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#countryButton {
    height: 45px;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
}

#countryButton:hover {
    cursor: pointer;
}

.errorWeather:hover {
    cursor: pointer;
}

#firstPage {
    align-items: center;
    height: 100%;
    justify-content: center;
    display: flex;
    position: absolute;
    left: 50%;
}

#food {
    background-size: contain;
    height: 100%;
    width: 100%;
}

#foodButton {
    margin-right: 15px;
    height: 45px;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
}

#foodButton:hover {
    cursor: pointer;
}

#googleMaps {
    height: 100%;
    width: 80%;
    opacity: 0.92;
}

#goToYelp {
    color: white;
    width: 35%;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
}


/*Helper Class*/

.hideOverflow {
    overflow-y: hidden;
}

.hideButton {
    display: none;
}

li {
    display: inline-block;
    width: 25%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
}

#location {
    display: inline-block;
}

.logo {
    position: absolute;
    top: -70px;
}

.logo:hover {
    cursor: pointer;
}

#mainPage {
    height: 100vh;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.mapsContainer {
    width: 100%;
    height: 28vh;
    justify-content: center;
    display: flex;
}


/* Needed to override position of modal from bootstrap */

.modal {
    top: 20% !important;
}

.modal-footer {
    border-top: none !important;
}

.modal-body {
    font-size: 2rem;
}

#middleText {
    text-align: center;
    color: floralwhite;
    font-size: 5em;
    font-weight: 500;
    text-shadow: 4px 4px black;
}

.picThirds {
    image-rendering: initial;
    height: 35vh;
    margin: 4%;
}

.picThirds:hover {
    cursor: pointer;
}

#price {
    font-size: 4rem;
    line-height: 40px;
    transform: translateY(10px);
}

.returnButton {
    margin-right: 20px;
}

.returnButton,
.yelpButton {
    height: 5%;
    bottom: 2%;
    font-size: 2.5rem;
    color: whitesmoke;
}

.returnButton:hover,
.yelpButton:hover {
    cursor: pointer;
}

.returnButtonContainer {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.reviewCount {
    font-size: 2.3rem;
}

.starContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#underline {
    height: .5rem;
    width: 15%;
    margin: 0 0 0 29%;
    background: whitesmoke;
    border: none;
    transition: .3s ease-in-out;
}

#weatherBox {
    color: whitesmoke;
    float: right;
    font-size: 25px;
    opacity: 0.9;
    text-shadow: 2px 2px 3px black;
    padding: 10px 25px 0 10px;
    display: flex;
}

#weatherIcon {
    position: absolute;
    height: 30px;
    top: 10px;
}

#textContainer {
    font-family: "dense";
    position: fixed;
    top: 45%;
    width: 100%;
}

ul {
    text-align: center;
    padding: 0;
}

.yelpButton {
    margin-left: 40px;
}

.yelpButton:hover,
.returnButton:hover {
    color: rgb(201, 201, 201);
}

#yelpInfo {
    text-align: center;
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: baseline;
    background-color: darkred;
    border-radius: 10px;
    color: white;
    opacity: 0.9;
    padding: 0;
    margin: 15px;
}

#yelpPicture {
    height: 40vh;
    border-radius: 10px;
    opacity: 0.9;
    overflow: hidden;
    padding: 0;
    margin: 15px;
}

.yelpInfoContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.yelpStar1 {
    height: 25px;
    width: 100px;
    margin-right: 10px;
}

.yelpPhone,
.yelpAddress {
    font-size: 2.5rem;
}

.yelpText1,
.reviewCount,
.yelpPhone,
.yelpAddress {
    text-shadow: 1px 1px black;
}


/******************************************
*            Media Query                  *
******************************************/

@media only screen and (max-width: 750px) {
    .buttonContainer {
        width: 80%
    }
}

@media only screen and (max-width: 650px) {
    .buttonContainer {
        width: 100%;
    }
    .clock {
        font-size: 6em;
    }
    #foodButton,
    #countryButton {
        font-size: 1.6rem;
    }
    #goToYelp {
        font-size: 2rem;
        width: 40%;
    }
    #weatherBox {
        padding-right: 25px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 500px) {
    #middleText {
        font-size: 4.5em;
    }
}

@media only screen and (max-width: 650px) {
    .carousel {
        width: 100%;
        margin: 0;
        border-bottom: 3px solid white;
    }
    .container {
        width: 100%;
        padding: 0;
    }
    .cityName {
        display: none;
    }
    .mapsContainer {
        height: 40vh;
    }
    .returnButtonContainer {
        background-color: black;
        border-top: 3px solid white;
    }
    .returnButton,
    .yelpButton {
        margin-top: 3%;
    }
    .row {
        all: unset;
    }
    #yelpInfo,
    #yelpPicture {
        margin: 0;
        height: 30%;
        border-radius: 0px;
    }
    #googleMaps {
        transform: translateY(0%);
        margin-left: 0;
        border-radius: 0;
        width: 100%;
        margin-top: 0;
    }
    #middleText {
        font-size: 4.5rem;
    }
    #weatherIcon {
        margin-left: 13px;
    }
    #weatherBox {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 350px) {
    #foodButton,
    #countryButton {
        font-size: 1.4rem;
    }
}


/* Did Not Create, used codepen and found code to add loading animation while ajax call is running */

.cs-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cs-loader-inner {
    top: 50%;
    position: absolute;
    width: calc(100% - 0px);
    color: #FFF;
    padding: 0 100px;
    text-align: center;
}

.cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display: inline-block;
}

@keyframes dots {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        transform: translateX(0px);
    }
    66% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes dots {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.cs-loader-inner label:nth-child(6) {
    -webkit-animation: dots 3s infinite ease-in-out;
    animation: dots 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
    -webkit-animation: dots 3s 100ms infinite ease-in-out;
    animation: dots 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
    -webkit-animation: dots 3s 200ms infinite ease-in-out;
    animation: dots 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
    -webkit-animation: dots 3s 300ms infinite ease-in-out;
    animation: dots 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
    -webkit-animation: dots 3s 400ms infinite ease-in-out;
    animation: dots 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
    -webkit-animation: dots 3s 500ms infinite ease-in-out;
    animation: dots 3s 500ms infinite ease-in-out;
}